description "etcd service registry"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

script
  {{ etcd_cmd }} \

    --initial-advertise-peer-urls {{ etcd_initial_advertise_peer_urls }} \
    --advertise-client-urls {{ etcd_advertise_client_urls }} \
    --listen-client-urls {{ etcd_listen_client_urls }} \
    --listen-peer-urls {{ etcd_listen_peer_urls }} 
    --data-dir {{ etcd_data_dir }} \
    --name {{ inventory_hostname }}
    --discover https://discovery.etcd.io/4fc087d42c79e742e5b20554a27ba322

end script


